mat-form-field {
    width: 100%;
}

button {
    float: right;
    width: 200px;
}

mat-toolbar {
    // background: #0f0d46;
    background: transparent;
    backdrop-filter: blur(10px);
    color: rgb(0, 0, 0);
    height: 70px;
    position: fixed;
    z-index: 1;
    margin-top: -100px;
}

a:hover {
    font-weight: bolder;
    text-shadow: 0 0 30px rgb(0, 255, 34);
}