<div class="cotainer">
    <mat-toolbar style="display: flex; justify-content: space-between; margin-top: -100px;">
        <div style="text-align: center;">
            <a routerLink="/"><span style="font-size: 33px; font-weight: bolder;">FACEMASH</span></a>
        </div>
        <div class="">
            <!-- <img src="https://shorturl.at/iqyC7" alt="avatar" width="30px" style="border-radius: 50%; border: black; margin-right: 10px;"> -->
            <button routerLinkActive="active-link" routerLink="/login" class="Btn">
                <div class="sign"><svg viewBox="0 0 512 512">
                        <path
                            d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                        </path>
                    </svg></div>
                <div class="text">Login</div>
            </button>
        </div>
    </mat-toolbar>
</div>

<div class="container" style="display: flex; justify-content: center; margin-top: 100px;">
  <div class="card" style="background: #ffffff5b; width: 35%; height: auto;">
    <form [formGroup]="signupForm" style="width: 100%; padding: 50px;" (ngSubmit)="signup()" novalidate>
      <h2 style="text-align: center; font-weight: bolder; margin-top: -20px;">Sign Up</h2>

      <div *ngIf="selectedImage" style="display: flex; justify-content: center; align-items: center;">
        <img [src]="selectedImage" alt="Selected Image"
             style="border-radius: 50%; width: 150px; height: 150px;">
      </div>

      <h3>Choose Avatar Image</h3>
      <input type="file" (change)="onFileSelected($event)" accept="image/*" style="margin-bottom: 20px;" />

      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter Name" formControlName="name">
        <mat-error *ngIf="signupForm.get('name')?.hasError('required')">Name is required</mat-error>
        <mat-error *ngIf="signupForm.get('name')?.hasError('pattern')">Invalid name format</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter Email" formControlName="email">
        <mat-error *ngIf="signupForm.get('email')?.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="signupForm.get('email')?.hasError('pattern')">Invalid email format</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Enter Password" formControlName="password" />
        <mat-error *ngIf="signupForm.get('password')?.hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="signupForm.get('password')?.hasError('minlength')">Minimum 7 characters</mat-error>
      </mat-form-field>

      <div style="display: flex; justify-content: center;">
        <button color="accent" [disabled]="!signupForm.valid" mat-raised-button type="submit">
          <span>Sign up</span>
        </button>
      </div>
    </form>
  </div>
</div>
