<div class="cotainer">
    <mat-toolbar style="display: flex; justify-content: space-between; margin-top: -100px;">
        <div style="text-align: center;">
            <a routerLink="/"><span style="font-size: 33px; font-weight: bolder;">FACEMASH</span></a>
        </div>
        <div style="display: flex;">
            <img [src]="avatar_img" width="55px" height="50px"
                style="border-radius: 50%; border: black; margin-right: 10px;">
            <span style="color:white; margin: 10px;">{{ name }}</span>
            <button routerLinkActive="active-link" routerLink="/" class="Btn">
                <div class="sign"><svg viewBox="0 0 512 512">
                        <path
                            d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                        </path>
                    </svg></div>
                <div class="text">Logout</div>
            </button>
        </div>
    </mat-toolbar>
</div>

<div class="container" style="margin-top: 100px;">
    <button class="btn" type="button" style="width: 100%">
        <strong>
            <div style="display: flex; justify-content: space-around; font-size: 20px;">
                <a routerLink="/posts" style="padding: 0 60px;"> <span>HOME</span> </a>
                <a routerLink="/topten" style="padding: 0 60px;"> <span>STATISTICS/WEEK (TOP10)</span> </a>
                <!-- <a routerLink="/graph" style="padding: 0 60px;"><span>STATISTICS/WEEK</span></a> -->
                <a [routerLink]="['/main']" [queryParams]="{ userId: aid }" style="padding: 0 60px;"><span
                        style="color: brown; font-weight: bolder;">SETTING</span> </a>
            </div>
        </strong>
        <div id="container-stars">
            <div id="stars"></div>
        </div>

        <div id="glow">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    </button>

    <div class="row p-5">
        <div class="col-lg-9">
            <div class="card" style="height: auto; background: #ffffff15;">
                <div class="row p-3">
                    <ng-container *ngFor="let image of images; let i = index">
                        <div class="col-md-3 mb-2">
                            <a [routerLink]="['/editimage', image._id]"><img [src]="image.image_url" height="250px"
                                    width="200px" class="img_box" style="border-radius: 10px;"></a>
                        </div>
                        <!-- เมื่อแสดงครบรูปแล้ว ให้แสดงรูปภาพเพิ่มเติม -->
                        <ng-container *ngIf="i === images.length - 1 && images && images.length < 5">
                            <div class="col-md-3 mb-2">
                                <div class="cardadd">
                                    <h2>
                                        <a [routerLink]="['/add-img']" [queryParams]="{ userId: aid }">
                                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Plus_symbol.svg/1200px-Plus_symbol.svg.png"
                                                height="250px" width="200px" class="img_box"
                                                style="background: #66339955;">
                                        </a>
                                    </h2>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>

                    <!-- เมื่อไม่มีข้อมูลรูปภาพ -->
                    <ng-container *ngIf="!images || images.length === 0">
                        <div class="col-md-3 mb-2">
                            <div class="cardadd">
                                <h2>
                                    <a [routerLink]="['/add-img']" [queryParams]="{ userId: aid }">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Plus_symbol.svg/1200px-Plus_symbol.svg.png"
                                            height="250px" width="200px" class="img_box" style="background: #66339955;">
                                    </a>
                                </h2>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>

        </div>

        <div class="col-md-3">
            <div class="cardhover" style="height: 549.6px; width: 300px;">
                <div class="card2"
                    style="height: 549.6px; width: 300px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <img src="{{ avatar_img }}" height="200px" width="200px"
                        style="margin-top: -30px; border-radius: 50%;">
                    <h2 class="profile-title">Profile at {{ name }}</h2>
                    <p class="profile-text">📧 Email: {{ email }}</p>
                    <p class="profile-text">👤 Name: {{ name }}</p>

                    <div class="profile-actions">
                        <button class="profile-btn" (click)="changepw()">Change Password</button>
                        <button class="profile-btn" (click)="changename()">Change Name</button>
                        <button class="profile-btn" (click)="changeAvatar()">Change Avatar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>