<div class="cotainer">
    <mat-toolbar style="display: flex; justify-content: space-between; margin-top: -100px;">
        <div style="text-align: center;">
            <a routerLink="/"><span style="font-size: 33px; font-weight: bolder;">FACEMASH</span></a>
        </div>
        <div style="display: flex;">
            <img [src]="avatar_img" width="55px" height="50px"
                style="border-radius: 50%; border: black; margin-right: 10px;">
            <span style="color:white; margin: 10px;">{{ name }}</span>
            <button (click)="logout()" class="Btn" style="background-color: rgb(255, 71, 65);">
                <div class="sign"><svg viewBox="0 0 512 512">
                        <path
                            d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                        </path>
                    </svg></div>
                <div class="text">Logout</div>
            </button>
        </div>
    </mat-toolbar>
</div>

<div class="container" style="margin-top: 100px;">
    <button class="btn" type="button" style="width: 100%">
        <strong>
            <div style="display: flex; justify-content: space-around; font-size: 20px;">
                <a routerLink="/posts" style="padding: 0 60px;">
                    <span style="color: brown; font-weight: bolder;">HOME</span>
                </a>
                <a routerLink="/topten" style="padding: 0 60px;">
                    <span>STATISTICS/WEEK (TOP10)</span>
                </a>
                <!-- <a routerLink="/graph" style="padding: 0 60px;">
                    <span>STATISTICS/WEEK</span>
                </a> -->
                <a [routerLink]="['/main']" [queryParams]="{ userId: aid }" style="padding: 0 60px;" 
                    (click)="checkAidBeforeNavigation()">
                    <span style="margin-top: -10px;">SETTING</span>
                </a>
            </div>
        </strong>
        <div id="container-stars">
            <div id="stars"></div>
        </div>

        <div id="glow">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    </button>

    <div class="row p-5">
        <div class="col-md-5 hovercard" (click)="onClickC1()">
            <div *ngIf="character1Image">
                <img [src]="character1Image.image_url" width="476px" height="495px" class="img_box" />
            </div>
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <div style="display: flex; align-items: center;">
                    <div *ngIf="character1Image">
                        <img [src]="character1Image.avatar_img ? character1Image.avatar_img: 'https://static.vecteezy.com/system/resources/previews/013/494/828/original/web-avatar-illustration-on-a-white-background-free-vector.jpg'" width="50px" height="45px" class="img_box change" alt="" />
                    </div>
                    <div *ngIf="character1Image">
                    <p class="p-2" style="margin: 0 0 0 10px;">
                        {{ character1Image.name ? character1Image.name: 'Steve'}} || Rating: {{ character1Image.points }}
                    </p></div>
                </div>

                <button mat-raised-button color="accent"
                    (click)="viewProfile(character1Image.facemash_id); $event.stopPropagation()">
                    View Profile
                </button>
            </div>
        </div>

        <div class="col-md-2" style="display: flex; align-items: center;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/70/Street_Fighter_VS_logo.png?20200807133458"
                width="100%" alt="VS Logo" />
        </div>

        <div class="col-md-5 hovercard" (click)="onClickC2()">
            <div *ngIf="character2Image">
                <img [src]="character2Image.image_url" width="476px" height="495px" class="img_box" />
            </div>
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <div style="display: flex; align-items: center;">
                    <div *ngIf="character2Image">
                        <img [src]="character2Image.avatar_img ? character2Image.avatar_img : 'https://static.vecteezy.com/system/resources/previews/013/494/828/original/web-avatar-illustration-on-a-white-background-free-vector.jpg'" width="50px" height="45px" class="img_box change" alt="" />
                    </div>
                    <div *ngIf="character2Image">
                    <p class="p-2" style="margin: 0 0 0 10px;">
                        {{ character2Image.name ? character2Image.name: 'Steve'}} || Rating: {{ character2Image.points }}
                    </p></div>
                </div>

                <button mat-raised-button color="accent"
                    (click)="viewProfile(character2Image.facemash_id); $event.stopPropagation()">
                    View Profile
                </button>
            </div>
        </div>
    </div>
</div>