mat-toolbar {
    // background: #0f0d46;
    background: transparent;
    backdrop-filter: blur(10px);
    color: rgb(0, 0, 0);
    height: 70px;
    position: fixed;
    z-index: 1;
}

h4 {
    font-size: 18px;
    font-weight: bold;
}

.mat-mdc-text-field-wrapper {
    width: 100%;
    font-size: 12px;
}

.tb {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.tb {
    display: flex;
    align-items: center;
}

.shorter {
    flex: 1;
    max-width: 150px; 
    margin-right: 10px; 
    max-height: 55px;
}

a:hover {
    font-weight: bolder;
    text-shadow: 0 0 30px rgb(0, 255, 34);
}


.card {
    background-color: #ffffff; /* ให้สีน้ำเงินอ่อน */
    border: 1px solid #b3d9ff; /* เพิ่มเส้นขอบสีเทา */
    border-radius: 5px; /* ทำให้มีเส้นโค้งมน */
}
.card-header {
    background-color: #032d6b; /* ให้สีน้ำเงินเข้ม */
    color: white; /* ให้ข้อความเป็นสีขาว */
}
